<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs', { pageName : 'History'}) %>
<body>
    <%- include('./partial/nav.ejs', { page: 'history' })%>
    <div class="container mt-4">
        <h3>Journal Data</h3>
        <hr>
        <form action="/history" method="GET">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="username">
                        <h5>Users</h5>
                    </label>
                    <select name="userId" id="username" class="form-control" autocomplete="username">
                        <option value="">All Users</option>
                        <% users.forEach(user=> { %>
                            <option value=<%=user.id %>><%= user.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Filter</button>
        </form>
        <h2 class="mt-5">Journal Entries</h2>
        <div class="table-responsive">
            <table class="table table-hover table-responsive">
                <thead class="table">
                    <tr>
                        <th>Date</th>
                        <th>Mood</th>
                        <th>Weather</th>
                        <th>Tags</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% history.forEach(val => { %>
                    <tr>
                        <td><%= val.date %></td>
                        <td><%= val.mood %></td>
                        <td><%= val.weather %></td>
                        <td>
                        <% val.tags.forEach(tag => { %>
                            <span class="badge bg-primary me-1"><%= tag %></span>
                        <% }); %>
                        </td>
                        <td><%= val.note %></td>
                        <td class="col-md-2">
                            <button class="btn btn-sm me-2 edit-btn mt-1" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#edit-usr-modal"
                                    <%  const currentUser = users.find(user => user.id === val.userId);
                                        const username = currentUser?.name | ""; %>
                                    data-username="<%= username %>"
                                    data-id="<%= val.id %>"
                                    data-user-id="<%= val.userId %>"
                                    data-date="<%= val.date %>"
                                    data-note="<%= val.note %>"
                                    data-mood="<%= val.mood %>"
                                    data-weather="<%= val.weather %>"
                                    data-tags="<%= JSON.stringify(val.tags) %>">
                                <i class="bi bi-pencil-square"></i> EDIT
                            </button>
                            <button class="btn btn-sm delete-btn mt-1" data-id="<%= val.id %>" name="history">
                                <i class="bi bi-trash"></i> DELETE
                            </button>
                        </td>
                    </tr>
                    <% }) %>  
                </tbody>
            </table>
            <!-- Modal -->
            <form id="edit-form" action="update">
            <div class="modal fade" id="edit-usr-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit entry</h5>
                            <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <%- include('./partial/modal-data.ejs', { moods, weathers, tags }) %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="update-btn" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <script src="/handler/deleteHandler.js"></script>
    <script src="/handler/updateHandler.js"></script>
</body>
</html>
