<html lang="en">
    <%- include('./partial/head.ejs', { pageName: 'Home' }) %>

<body>
    <%- include('./partial/nav.ejs', { page: 'home' })%>
    <form action="/home" method="post">
        <div class="form-group mt-4">
                <label for="mood"><h5>Select User</h5></label>
                <select name="mood" id="moods" class="form-control">
                    <% users.forEach(user => { %>
                        <option value=<%= user.id %>><%= user.name %></option>
                    <% }) %>
                </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="mood"><h5>Your mood</h5></label>
                <select name="mood" id="moods" class="form-control">
                    <% moodOptions.forEach(mood => { %>
                        <option value=<%= mood.value %>><%= mood.label %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="weather"><h5>Weather</h5></label>
                <select name="weather" id="weather" class="form-control">
                    <% weatherOptions.forEach(weather => { %>
                        <option value=<%= weather.value %>><%= weather.label %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="date"><h5>Date</h5></label>
                <input id="date" type="date" name="date" class="form-control">
            </div>
        </div>
        <fieldset>
           <label><h5>Tags</h5></label>
           <%- include('./partial/tags.ejs', { tags }); %>
        </fieldset>
        <div class="form-group mt-3">
            <label for="textarea"><h5>Your Note</h5></label>
            <textarea name="note" class="form-control" id="textarea" rows="3"  placeholder="type your note"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</body>
</html>