<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs', { pageName : 'About'}) %>
    <body>
        <%- include('./partial/nav.ejs', { page: 'tags'})%>
        <div id="container" class="container mt-4">
            <h3>Create Tags</h3>
            <hr>
            <form action="/tags" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="mood"><h5>Mood</h5></label>
                        <input name="mood" class="form-control" id="mood" placeholder="Enter activity"></textarea>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="emoji">
                            <h5>Emoji</h5>
                        </label>
                        <select name="emoji" id="emoji" class="form-control">
                            <% emojis.forEach(emoji=> { %>
                                <option value="<%= emoji %>"><%= emoji %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Add</button>
            </form>
            <!-- <hr> -->
            <h3 class="mt-5">Tags</h3>
            <table id="table-sm" class="table table-hover">
                <thead class="table">
                    <tr>
                        <th>Id</th>
                        <th>Activity</th>
                        <th>Emoji</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% tags.forEach(tag=> { %>
                        <tr>
                            <td><%= tag.id %></td>
                            <td><%= tag.name %></td>
                            <td><%= tag.emoji %></td>
                            <td class="col-md-2"><button class="btn btn-sm delete-btn" name="tags" data-id="<%= tag.id %>">
                                    <i class="bi bi-trash"></i> DELETE
                                </button></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <script src="/handler/deleteHandler.js"></script>
    </body>
</html>